{% extends "base.html" %}
{% import "layout.html" as layout %}


{% block title %}National Park Service Kiosk{% endblock %}


{% block scripts %}
{{ super() }}
<script src="{{ script_dir }}/main.js"></script>
{% endblock %}


{% block header %}
{% call layout.navbar([{ "text":"Home", "link":"#" }], collapse=True, data_target="navbarHeader") %}
    <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
            <h4 class="text-white">Search</h4>
            <p class="text-muted">
                Welcome to a virtual information kiosk for the National Park Service!</p>
        </div>
    </div>
{% endcall %}
{% endblock %}


{% block content %}
{% call(title) layout.section("Search", section_id="search", container_class="bg-overlay") %}
    <div class="container text-center">
        <div class="row"><div class="col"><h2>{{ title }}</h2></div></div>
        <div class="row">
            <div class="col">
            <p>
                Search the entire information base of the national park service. For more information and documentation
                about how to use this search bar, click <a href="#">here</a>.
            </p>
            </div>
        </div>
        <form id="searchForm" action="searchResults.html">
            <div class="form-row">
                <div class="form-group col-sm-2 col-md-3 px-1">
                    <select name="resource" class="form-control">
                        <option value="alerts">Alerts</option>
                        <option value="parks">Parks</option>
                        <option value="news">News</option>
                    </select>
                </div>
                <div class="form-group col-sm-10 col-md-9 px-1">
                    <!--<div class="input-group-prepend">
                                            <span class="input-group-text black lighten-3" id="basic-text1"><i class="fas fa-search"
                                                                                                               aria-hidden="true"></i></span>
                    </div>-->
                    <input name="query" class="form-control" type="text" placeholder="Search" aria-label="Search">
                </div>
            </div>
        </form>
    </div>
{% endcall %}
{% call(title) layout.section("Alerts", section_id="alertSection", container_class="py-4") %}
    <div class="row">
        <div class="col-sm-auto col-md-auto">
            <h2>{{ title }}</h2>
            <p class="text-muted"><a href="#" class="graylink">more...</a></p>
        </div>
    </div>
    <div id="{{ containerIDs.alerts }}" class="d-flex justify-content-center">
        <div id="spinner" class="spinner-border p-2" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
{% endcall %}
{% endblock %}
