{% extends "base.html" %}
{% import "layout.html" as layout %}

{% block title %}National Park Service Kiosk{% endblock %}

{% block scripts %}
<script src="{{ script_dir }}/lib.js"></script>
<script src="{{ script_dir }}/main.js"></script>
{% endblock %}

{% block header %}

{% call layout.navbar([{ "text":"Home", "link":"#" }], collapse=True, data_target="navbarHeader") %}
<div class="row">
    <div class="col-sm-8 col-md-7 py-4">
        <h4 class="text-white">Search</h4>
        <p class="text-muted">
            Welcome to a virtual information kiosk for the National Park Service!</p>
    </div>
</div>
{% endcall %}

{% endblock %}

{% block content %}

{% call layout.section("Search", section_id="search", container_class="bg-overlay") %}
<div class="text-center">
    <h2>Search</h2>
    <p>
        Search the entire information base of the national park service. For more information and documentation
        about how to use this search bar, click <a href="#">here</a>.
    </p>
    <form class="input-group md-form form-sm form-1 pl-0" id="searchForm">
        <div class="input-group-prepend">
                                <span class="input-group-text black lighten-3" id="basic-text1"><i class="fas fa-search"
                                                                                                   aria-hidden="true"></i></span>
        </div>
        <input name="query" class="form-control my-0 py-1" type="text" placeholder="Search" aria-label="Search">
    </form>
</div>
{% endcall %}

{% call layout.section("Alerts", section_id="alertSection", container_class="py-4") %}
<div class="row">
    <div class="col-sm-auto col-md-auto">
        <h2>Alerts</h2>
        <p class="text-muted"><a href="#" class="graylink">more...</a></p>
    </div>
</div>
<div id="slideshowParent" class="d-flex justify-content-center">
    <div id="spinner" class="spinner-border p-2" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
{% endcall %}
<!--
<section id="alertSection">
    <div class="container py-4">
        <div class="row">
            <div class="col-sm-auto col-md-auto">
                <h2>Alerts</h2>
                <p class="text-muted"><a href="#" class="graylink">more...</a></p>
            </div>
        </div>
    </div>
    <div class="container py-2" id="alertContainer">
        <div id="slideshowParent" class="d-flex justify-content-center">
                <div id="spinner" class="spinner-border p-2" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
        </div>
    </div>
</section>-->
{% endblock %}
