<section role="main">
  <ng-template [ngIf]="park !== undefined">
    <div class="container py-3">
      <div class="row">
        <div class="col text-center">
          <h1 [innerHTML]="park.getTitle() | keepHtml"></h1>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <h5><a (click)="store(park)" [routerLink]="['/learn', parkCode]">See Educational Content</a></h5>
        </div>
      </div>
      <hr>
      <div class="row">
        <ng-template [ngIf]="parkAlerts.length > 0 || parkEvents.length > 0">
          <div class="col-lg-4 col-sm-12">
            <ng-template [ngIf]="parkAlerts.length > 0">
              <div class="container my-2">
                <div class="row">
                  <div class="col">
                    <h3>Active Alerts</h3>
                    <p>
                      Click on any alert to see more information.
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="card-group" *ngFor="let displayElement of parkAlerts">
                      <div class="card alert-warning my-2 mx-1" [routerLink]="['/alerts', parkCode]">
                        <div class="card-header"><h4>{{ displayElement.getTitle() }}</h4></div>
                        <div class="card-body">
                          <p>
                            {{ displayElement.getDescription() }}
                          </p>
                          <ng-template [ngIf]="displayElement.getUrl() !== undefined && displayElement.getUrl() !== ''">
                            <a [href]="displayElement.getUrl()">Read more...</a>
                          </ng-template>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template [ngIf]="parkEvents.length > 0">
              <div class="container my-2">
                <div class="row">
                  <div class="col">
                    <h3>Events</h3>
                    <p>
                      Click on any event to see more information.
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="card-group" *ngFor="let displayElement of parkEvents">
                      <div class="card my-2 mx-1" (click)="store(park);store(displayElement)" [routerLink]="['/event']">
                        <div class="card-header"><h4>{{ displayElement.getTitle() }}</h4></div>
                        <div class="card-body">
                          <p [innerHTML]="displayElement.getDescription() | keepHtml"></p>
                          <ng-template [ngIf]="displayElement.getUrl() !== undefined && displayElement.getUrl() !== ''">
                            <a [href]="displayElement.getUrl()">Read more...</a>
                          </ng-template>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </div>
        </ng-template>
        <div class="col">
          <div class="container">
            <div class="row">
              <div class="col">
                <h1>Information</h1>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="card-group" *ngFor="let displayElement of park.getDisplayElements()">
                  <div class="card my-2 mx-1"
                      *ngIf="displayElement.getDisplayElementType() === DISPLAY_SUMMARY">
                    <div class="card-header"><h2>{{ displayElement.getTitle() }}</h2></div>
                    <div class="card-body">
                      <p [innerHTML]="displayElement.getDescription() | keepHtml"></p>
                      <ng-template [ngIf]="displayElement.getUrl() !== undefined && displayElement.getUrl() !== ''">
                        <a [href]="displayElement.getUrl()">Read more...</a>
                      </ng-template>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <ng-template [ngIf]="parkArticles.length > 0">
              <hr>
              <div class="row">
                <div class="col">
                  <h1>Articles</h1>
                  <p><a [routerLink]="['/articles', parkCode]">more...</a></p>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="card-group" *ngFor="let article of parkArticles">
                    <div class="card my-2 mx-1">
                      <div class="card-header"><h2 [innerText]="article.getTitle()"></h2></div>
                      <div class="card-body">
                        <p [innerHTML]="article.getDescription() | keepHtml"></p>
                        <ng-template [ngIf]="article.getUrl() !== undefined && article.getUrl() !== ''">
                          <a [href]="article.getUrl()">Read more...</a>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template [ngIf]="parkNewsReleases.length > 0">
              <hr>
              <div class="row">
                <div class="col">
                  <h1>News Releases</h1>
                  <p><a [routerLink]="['/newsreleases', parkCode]">more...</a></p>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="card-group" *ngFor="let newsrelease of parkNewsReleases">
                    <div class="card my-2 mx-1">
                      <div class="card-header"><h2 [innerText]="newsrelease.getTitle()"></h2></div>
                      <div class="card-body">
                        <p [innerHTML]="newsrelease.getDescription() | keepHtml"></p>
                        <ng-template [ngIf]="newsrelease.getUrl() !== undefined && newsrelease.getUrl() !== ''">
                          <a [href]="newsrelease.getUrl()">Read more...</a>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
            <hr>
            <div class="row">
              <div class="col">
                <h1>Gallery</h1>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <ul class="list-group" *ngFor="let displayElement of park.getDisplayElements()">
                  <li class="list-group-item card my-2 mx-1"
                      *ngIf="displayElement.getDisplayElementType() === DISPLAY_IMAGE">
                    <img [src]="displayElement.getUrl()"
                         [alt]="displayElement.getDescription()" style="width:50%;"
                         class="float-right">
                    <div>
                      <p class="font-weight-bold mt-1 mb-0" [innerHTML]="displayElement.getTitle() | keepHtml"></p>
                      <p class="my-1" [innerHTML]="displayElement.getDescription() | keepHtml"></p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</section>
