<section role="main">
  <ng-template [ngIf]="park !== undefined">
    <div class="container my-2">
      <div class="row">
        <div class="col">
          <h1>{{ park.getTitle() }}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col">
            <div class="card-group" *ngFor="let displayElement of park.getDisplayElements()">
              <div class="card my-2 mx-1"
                  *ngIf="displayElement.getDisplayElementType() === DISPLAY_SUMMARY">
                <div class="card-header"><h2>{{ displayElement.getTitle() }}</h2></div>
                <div class="card-body">
                  <p>
                    {{ displayElement.getDescription() }}
                  </p>
                  <ng-template [ngIf]="displayElement.getUrl() !== undefined && displayElement.getUrl() !== ''">
                    <a [href]="displayElement.getUrl()">Read more...</a>
                  </ng-template>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <ng-template [ngIf]="parkAlerts.length > 0">
      <div class="container my-2">
        <div class="row">
          <div class="col">
            <h1>Active Alerts (<a [routerLink]="['/alerts', parkCode]">see all</a>)</h1>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="card-group" *ngFor="let displayElement of parkAlerts">
              <div class="card alert-warning my-2 mx-1">
                <div class="card-header"><h4>{{ displayElement.getTitle() }}</h4></div>
                <div class="card-body">
                  <p>
                    {{ displayElement.getDescription() }}
                  </p>
                  <ng-template [ngIf]="displayElement.getUrl() !== undefined && displayElement.getUrl() !== ''">
                    <a [href]="displayElement.getUrl()">Read more...</a>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <div class="container my-2">
      <div class="row">
        <div class="col">
          <h1>Gallery</h1>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <ul class="list-group" *ngFor="let displayElement of park.getDisplayElements()">
            <li class="list-group-item card my-2 mx-1"
                *ngIf="displayElement.getDisplayElementType() === DISPLAY_IMAGE">
              <img [src]="displayElement.getUrl()"
                   [alt]="displayElement.getDescription()" style="width:50%;"
                   class="float-right">
              <div>
                <p class="font-weight-bold mt-1 mb-0">{{ displayElement.getTitle() }}</p>
                <p class="my-1">{{ displayElement.getDescription() }}</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </ng-template>
</section>
