div.nps-alert {
    border: 1px solid gray;
    border-radius: 15px;
    transition-duration: 0.5s;
}

div.nps-alert:hover {
    -webkit-box-shadow: 0 0 5px gray;
    -moz-box-shadow: 0 0 5px gray;
    box-shadow: 0 0 5px gray;
    transition-duration: 0.5s;
}

a.graylink {
    color: gray;
}

/* Div slideshow */

#slideshowParent {
    position: relative;
}

#slideshowParent > div.alert {
    display:none;
    position: absolute;
    top: 0;
    left: 0;
}

#slideshowParent > div.alert:first-child {
    display:block;
}

/* BG overlay */

.bg-overlay {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("https://unsplash.imgix.net/photo-1416339442236-8ceb164046f8?q=75&fm=jpg&s=8eb83df8a744544977722717b1ea4d09");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: 450px;
    padding-top: 50px;
}

/* custom styles */
html {

}

body {
    background-image: url("../img/gallery/park1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

}

main {

}

#nps-body {
    color: white;

}

#nps-body .container, #nps-body .row {

}

#nps-main-col {
    background-color: rgba(1.0, 1.0, 1.0, 0.5);

}