<section role="main">
  <div class="container py-3">
    <div class="row pt-2">
      <div class="col text-center">
        <!-- header -->
        <h1>{{ receivedObject.getTitle() }}</h1>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="card-group">
                <div class="card">
                  <h5 class="card-header">
                    Event Info
                  </h5>
                  <div class="card-body">
                    <div *ngFor="let displayElement of receivedObject.getDisplayElements() | callback: selectProperties">
                      <p>{{ displayElement.getTitle() }} {{ displayElement.getDescription() }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col">
              <div class="card-group py-2" *ngFor="let displayElement of receivedObject.getDisplayElements() | callback: selectParagraphs">
                <div class="card">
                  <h5 class="card-header" [innerHTML]="displayElement.getTitle() | keepHtml"></h5>
                  <div class="card-body" [innerHTML]="displayElement.getDescription() | keepHtml"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ul class="list-group" *ngFor="let displayElement of receivedObject.getDisplayElements()">
          <li class="list-group-item card my-2 mx-1"
              *ngIf="displayElement.getDisplayElementType() === DISPLAY_IMAGE">
            <img [src]="displayElement.getUrl()"
                 [alt]="displayElement.getDescription()" style="width:50%;"
                 class="float-right">
            <div>
              <p class="font-weight-bold mt-1 mb-0">{{ displayElement.getTitle() }}</p>
              <p class="my-1" [innerHTML]="displayElement.getDescription() | keepHtml"></p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
