<section role="main">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h1>
          Welcome to the NPS Information Kiosk!
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>
          The NPS stands for the National Park Service. They maintain and publish data about all of the United States'
          national parks and public recreational areas. This website leverages their API to make finding the information you want fast and easy.
        </p>
        <p>
          Navigate with the banner up top to view useful information about the NPS's parks, campgrounds, visitor centers,
          alerts, and events!
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div id="home-page-carousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item" *ngFor="let image of images; let first = first" [ngClass]="{ active: first }">
              <div class="d-block w-100 nps-carousel-images-wrapper">
                <div class="d-flex justify-content-center">
                  <img class="nps-carousel-image" src="{{ image.getUrl() }}" alt="{{ image.getDescription() }}">
                </div>
              </div>
              <div class="carousel-caption d-none d-md-block">
                <h5>{{ image.getTitle() }}</h5>
                <p>{{ image.getDescription() }}</p>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev nps-carousel-control" href="#home-page-carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next nps-carousel-control" href="#home-page-carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
