
/* So user can see the carousel controls */
a.nps-carousel-control {
  background-color: rgba(0, 0, 0, 0);
  transition: 0.5s;
}
a.nps-carousel-control:hover {
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

div.nps-carousel-images-wrapper {
  background-color: #040404;
}

div.carousel-caption {
  background-color: rgba(0.5, 0.5, 0.5, 0.5);
}

/* To prevent stretching of images */
img.nps-carousel-image {
  max-height: 700px;
  min-height: 500px;
  width: auto;
  height: auto;
}
