<!--The content below is only a placeholder and can be replaced.-->
<section role="banner">
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <strong>Home</strong>
      </a>
      <a href="#" class="navbar-brand d-flex align-items-center">
        <strong>Search</strong>
      </a>
      <a href="#" class="navbar-brand d-flex align-items-center">
        <strong>Learn</strong>
      </a>
    </div>
  </div>
</section>
<section role="main">
  <div class="container">
    <div class="row">
      <h1>
        Welcome to {{ title }}!
      </h1>
    </div>
    <div class="row">
      <button class="btn btn-primary col-2" (click)="callAPI()">Call API</button>
      <input class="col-10" [(ngModel)]="queryString" type="text"/>
    </div>
    <div class="row">
      <div class="col container">
        <ul class="list-group" *ngFor="let datum of data">
          <li class="list-group-item">
            <p>{{ datum.getTitle() }}</p>
            <p>{{ datum.getUrl() }}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
