<section role="main">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h1 class="mt-2">Campgrounds in
          <ng-template [ngIf]="receivedObject"><a [routerLink]="['/parks', parkCode]">{{ receivedObject.getTitle() }}</a></ng-template>
          <ng-template [ngIf]="!receivedObject && stateCode">{{ stateCode }}</ng-template>
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ng-template [ngIf]="waiting == true">
          <div class="text-center w-100">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </ng-template>
        <div class="card-group" *ngFor="let campground of campgrounds">
          <div class="card my-2" (click)="store(campground)" [routerLink]="['/campground']">
            <div class="card-header">
              <h3 [innerHTML]="campground.getTitle()"></h3>
            </div>
            <div class="card-body">
              <div [innerHTML]="campground.getDescription()"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
